/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  /* max-width: 100%; */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  margin-block: 1em;
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em 1em;
}

/* Sections */

#header {
  margin-bottom: 2em;
}

/* Utilities */

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* Page styles */

#header a {
  line-height: 1;
}

.ai {
  line-height: 1;
  font-size: 24px;
  color: black;
}

.headshot {
  margin-inline-start: 2em;
}

.links {
  align-items: center;
  gap: 0.5em;
}

main {
  container-type: inline-size;
}

@container (max-width: 450px) {
  .headshot {
    margin: 0 auto 2em;
  }

  .two-up {
    flex-direction: column-reverse;
  }
}